extends layout

block content
  h1= title
  p(style="font-size:80%; color:#808080")
    | This page is used for programming EnviSense dataloggers' sensing schedules, which execute instructions at specified times within an hour. Each hour of the day has its own schedule, and may be unique. One hour's worth of instructions is encoded into a single downlink LoRaWAN packaet, which can hold up to 11 instructions that are composed of a time to run the instruction, the function to run, and an optional parameter. 
    br
    br
    | EnviSense allows multiple schedules (referred to with a "Schedule ID") to exist on a device such that they can be swapped locally without additional downlink LoRaWAN frames.

block programming_interface 
  //- Setup the HTML elements first, then generate scripts to populate and respond to user actions like button clicks

  table(style="border-spacing:30px 10px; margin:0px -30px; ")
    //- Table to show all devices, hours, schedule IDs so the user can select what they want to rpogram
    tr
      th
        | Devices to Program &nbsp;
        //- Just a button to show a tooltip so the user knows how to use this part of the website. Clicking does nothing. Text shows on hover
        button(type="button", class="tooltip", data-title="Select a set of devices to program together; multiple may be selected. The set of schedules are held in a database, which we query or write to from this interface. Devices will request new schedules (using a 'DOWNLOAD_SCHEDULE' instruction), downloading the most recent version. Devices are sorted here by name, but most operations use the 'devEUI' to uniquely identify devices" label="deviceSelectorExplainer") 

      th
        | Hour(s) &nbsp;
        button(type="button", class="tooltip", data-title='A schedule for EnviSense devices contains 24 schedule blocks, each of which consists of 11 commands. The schedule block describes what to do during a specific hour of the day, where hour 0 is 12:00AM and 23 is 11:00 PM (according to the device\'s local clock. Select a set of hours to read or write schedules to. Multiple may be selected, including "All", which will always force all hours of the schedule to be read or written. ' label='HourSelectorExplainer') 

      th
        | Schedule ID &nbsp;
        button(type="button", class="tooltip", data-title="A EnviSense device can store and swap between multiple schedules, identified by the Schedule ID. There are four different schedule ID's (A, B, C, D). An EnviSense will have one active schedule at a time, executing the instructions within accordingly. The database manages which schedule the device is supposed to be running (tracking the 'pending' and 'current' schedules), and when the device queries for schedules at runtime, the database will respond with whichever version is 'pending'. This selection box determines which schedule ID's to use when querying (reading) from the database and when writing to said database. The current pending schedule can be updated to the selection here with the 'Update Pending Schedule' button.") 

    tr
      td(style="text-align:center")
        //- Selection list for the set of devices (populated only when the page loads). Many can be selected. Would be nice to have a hierarchical version once the set of devices grows beyond a few dozen (naming conventions will help dramatically)
        select(multiple size="10" name="deviceSelector" id="deviceSelectorLabel", style="position:relative")
          each device in devices
            //- Use DevEUI for all references. Let's keep it upper case as much as possible, since that's how we insert into the database. Chirpstack doesn't seem to care, and responds with lower-case, but it's all hexadecimal
            option(value=device.devEUI.toUpperCase()) device name = "#{device.deviceName}"; device EUI = #{device.devEUI.toUpperCase()} 
      td(style="text-align:center") 
        //- Selection list of the set of hours to program for. 'All' will default to using the entire list, and is selected by default
        select(multiple size="10" name="hourSelector" id="hourSelectorLabel" label="hour") 
          each hour in ['All', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
            if hour == 'All' 
              option(value=hour.value selected) #{hour}
            else 
              option(value=hour.value ) #{hour}

      td(style="vertical-align:top; text-align:center")
        //- The schedule ID to use. We only use one at a time, unlike the hour and device selectors. EnviSense only supports 4 of these. It could be more, but that's probably unnecessary, practically speaking. 'A' is the default.
        select(name="scheduleIdSelector" id="scheduleIdSelectorLabel" label="scheduleID" style="position:relative;")
          option(value='A' selected) A
          option(value='B' ) B
          option(value='C' ) C
          option(value='D' ) D


  br
  br 

  form
    //- Create a few buttons that will trigger database actions, Read/Query schedules, write schedules, and update pending. We'll attach onclick javascript functions to make the API calls later. It would be nice to add a spinner here to show when a query or write is in progress, since that can take a while when there are many to read/write.
    button(type="button" id="readScheduleBtn") Query Schedules
    | &nbsp;
    button(type="button", class="tooltip", data-title="Pressing this button will for a set of schedules from the devices, hours, and schedules selected above. This may take a moment for all the queries to complete and be returned to the webpage. These will be stored the forms below can be populated by selecting a device and hour without redoing an queries. When the query completes, there will be a popup to notify of success or failure.") 

    | &emsp;&emsp;&emsp; 
    button(type="button" id="writeScheduleBtn") Write Schedule
    | &nbsp;

    button(type="button", class="tooltip", data-title="Pressing this button will write the schedule block (a single hour's schedule) to all the selected devices for the selected hours at the selected schedule ID. Each of these schedule blocks will have the exact same set of instructions. \nSchedules have 'sequence numbers' to help with versioning, and this will automatically use a larger one than the most recent (with 0-255; if it is currently 255, it will wrap around, which is of no consequence so long as the 'newest' sequence number is different than the one already on the device). \nNote that writing a schedule does *not* update the pending schedule identifier") 
 
    | &emsp;&emsp;&emsp;
    button(type="button" id="updatePendingBtn") Update Pending Schedule 
    | &nbsp;
    button(type="button", class="tooltip", data-title="Pressing this button will update the 'pending' schedule identifier. EnviSense devices support four unique schedules, with identifiers A, B, C, and D. The database tracks the schedule that it wants devices to be running (the 'pending' schedule), and this button updates that to the selection in 'Schedule ID' field above. When the EnviSense device next requests for a new schedule,  the server will respond with information for the pending schedule, which may cause a total schedule update (for that schedule ID) or it may simply switch to another schedule locally stored on the device, depending on the version of that schedule for that schedule ID") 


  br
  //- When we query device schedules, we'll have many stored in the browser, but we can only really show one at a time. 
  | Show schedule among queried results for: &emsp;
  button(type="button", class="tooltip", data-title="Device queries return results for multiple devices and hours (each schedule 'block' pertains to one hour's worth of commands. The two selection fields are populated based on which devices and hours were queried, and selecting from them will repopulate the instruction fields below accordingly. Just after the query completes, this will default to showing the first device alphabetically by name for the lowest hour (where 0 a.k.a midnight is lowest)" ) 

  br
  br
  //- Select the device and hour to display below. This will automatically be populated when the query returns (using the first device and hour in the list. Changing this will not make another query, so it will be almost instantaneous to repopualate the instruction forms. This is only relevant for the schedules we read from the server, and irrelevant to writing. It can be used to copy schedules (changing the selection box at the top does not change this nor does a schedule-write, only a query repopulates these.)
  | device: &emsp; 
  select( name="showScheduleSelectorDevice" id="showScheduleSelectorDeviceLabel" label="showScheduleSelectorDevice")
  | &emsp; hour: &emsp; 
  select( name="showScheduleSelectorHour" id="showScheduleSelectorHourLabel" label="showScheduleSelectorHour")


  br
  //- form fields for the schedules 11 instructions. Each defaults to 0 seconds, NO_OPERATION function, 0 parameter. The values in the boxes can be exceeded if the user really wants to... that should be checked somewhere in the API or before making that call
  form
    each instruction_number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      p 
        | <strong>Instruction #{instruction_number}:</strong> 
        if instruction_number == 10
          | &emsp;
        else 
          | &emsp; &nbsp;
        | seconds past hour: 
        input(type='number', name='seconds_'+instruction_number, value=0, label='seconds_'+instruction_number, id='secondsLabel_'+instruction_number, min="0", max="3599")
        | &thinsp; 
        if instruction_number == 0
            //- only put tooltips on the first instructions. It's all the same for the others
            button(type="button", class="tooltip", data-title="The number of seconds after the top of the hour that this instruction will run. If the current time is already beyond this time, then this instruction will run immediately -- it will not be skipped. This must be within the range of 0-3599 seconds (within an hour). Using a value outside this range should never be done. The 'seconds' value should increase with each subsequent instruction") 
        |&emsp;&ensp; function: 
        select(name="instructionSelector_"+instruction_number, id='instructionSelectorLabel_'+instruction_number, label="instructionSelector_"+instruction_number)
          //- needs to be filled in by part of a request
          each instr in Object.keys(instructions)
            option(value=instr.value) #{instr}
        | &thinsp; 
        if instruction_number == 0
            button(type="button", class="tooltip", data-title="The function to execute; each instruction has different behaviors, but most that reference specific sensors (or kitchen sink, which is a pun on 'everything but the kitchen sink' meaning all sensors) will sample and add the result to a LoRa uplink frame. The frame automatically sends when full, but can be scheduled to happen immediately with the right command. The SDI12 version of kitchen sink is similar - it samples all SDI12 sensors with a default command and uplinks the measurements. \nNB: The user should **always** include a 'DOWNLOAD_SCHEDULE' function, else the device will never check for a new schedule again, meaning the last downloaded schedule will run until the device dies or resets. ") 
        |&emsp;&ensp;  parameter: 
        input(type='number', name='parameter_'+instruction_number, value=0, label='parameter_'+instruction_number, id='parameterLabel_'+instruction_number, min="0", max="255")
        | &thinsp;
        if instruction_number == 0
          button(type="button", class="tooltip", data-title="Some functions/instructions take a parameter (within a one byte value of 0 to 255 inclusive) that modifies the behavior, although most do not. Notable Parameters:, the parameter in SEND_LORA_FRAME_NOW parameterizes a random backoff delay to mitigate wireless collisions that slow uplink among many devices; a parameter of '1' for the READ_SDI12_KITCHEN_SINK function will also run an ordinary READ_KITCHEN_SINK; the parameter for GOTO will cause the scheduler to jump to the instruction number in the parameter (between 0 and 10 inclusive); for specific SDI12 instructions, the parameter designates which SDI12 address to read from (in ascii, where 48 = address '0', 65='A', 97='a', etc. ") 
        br

  br
  br

  //- Provide a way to create a new device by giving a DevEUI and a device name. The other parameters (application, app/network key, device profile ID) are automatically read from the config file. Perhaps this should be updated (or even make an entirely new page to handle this part).
  p 
    | <strong>Create New Device:</strong> &thinsp;
    button(type="button", class="tooltip", data-title="Create a new device with the specified DevEUI (the identifier used for identifying devices over LoRa and the primary key within chirpstack and our database) and the device name (mainly used for identification purposes; should be given a descriptive (and ideally hierarchical) name). A set of default schedules will be given for schedules A, B, C, and D that read sample all sensors (READ_KITCHEN_SINK function) every 15 minutes, 60 minutes, 6 hours, and 15 minutes (same as the first), respectively. If the SDI12 box is checked, it will use the READ_SDI12_KITCHEN_SINK function instead. NB: This will fail if an extant devEUI is used. To see the device in the selection menu at the top, the page must be refreshed. ") 

    | &emsp;&emsp;
    | Dev EUI: 
    //- The dev EUI needs to be 16 hexadecimal characters (0-9, A-F), and needs to be unique. Chirpstack will refuse if this isn't right.
    input(type='string', name='newDevEUI'+instruction_number, value='0000000000000000', label='newDevEUI', id='newDevEUILabel')
    | &emsp; Device Name: 
    input(type='string', name='newDeviceName'+instruction_number, value='new-device-name', label='newDeviceName', id='newDeviceNameLabel')
    | &emsp;
    input(type="checkbox", name='sdi12_checkbox', id='sdi12_checkbox', value='is_sdi12') 
      //- This just helps us know what the default schedule should be
    |  SDI12 Enabled
    | &emsp;
    button(type="button" id="createDeviceBtn") Create Device
    //- After creating a new device, we may want to throw a popup and/or refresh the page so it regenerates the list. May also need to give some feedback in case the device already existed


  //- Now let's write those scripts to populate HTML elements and respond to user inputs. 
  //- Import jquery so we can make HTTP calls to the server host using AJAX
  script(src="http://code.jquery.com/jquery-3.5.0.js")

  script(type='text/javascript').
    //- define some variables for runtime, particularly those that need to be updated in one script/callback and access in another. 'var' is used here so it will use a higher scoping than 'let' would (let is like local scoping, var is more global)
    console.log('Init page')
    var selected_devices = []
    var selected_hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
    var selected_id = 'A'
    var schedules_read_from_server = {}
  
  script(type='text/javascript').
    // helper functions
    //- Among the set of devices, search for the device name
    function getDeviceNameForEUI(devEUI)
    {
      for (let i = 0; i < devices.length; i++)
      {
        let device = devices[i]
        if (device.devEUI.toUpperCase() === devEUI.toUpperCase)
        {
          return device.deviceName
        }
      }
      return undefined
    }

    //- Update the form fields for the instructions based on whichever device and hour (singular) are selected in those dropbox menus. Those menus are populated by the returned query, but will be empty before that happens
    function update_schedule_forms()
    {
      let device, hour
      try 
      {
        //find the selected device and hour
        let device_selector = document.getElementById("showScheduleSelectorDeviceLabel")
        for (let opt of device_selector.options) 
          if (opt.selected) device = opt.value
      
        let hour_selector = document.getElementById("showScheduleSelectorHourLabel")
        for (let opt of hour_selector.options) 
          if (opt.selected) hour = opt.value
        hour = Number(hour) //defaults to a string; recast

        console.log('Attempt to display schedule for ' + device + ', hour ' + hour + ', schedule ID "' + selected_id + '"')

        let schedule = null
        let schedule_block = null

        //select the correct set schedule blocks based on devEUI
        for (let i = 0; i < schedules_read_from_server.length; i++) {
          let sched = schedules_read_from_server[i]
          if (sched.devEUI.toUpperCase() === device.toUpperCase()) 
          {
            schedule = sched 
            break
          }
        }

        if (schedule === null) 
        {
          console.error('did not find schedule requested in queried results')
          return false
        }

        console.log('Found schedule for device. Next, find desired hour ' + hour)

        // select the correct schedule block based on hour
        for (let i = 0; i < schedule.blocks.length; i++) 
        {
          let block = schedule.blocks[i]
          if (block.hour == hour) 
          {
            schedule_block = block 
            break
          }
        }
        if (schedule_block.scheduleID !== selected_id) 
        {
          console.info('Selected schedule ID does not match query! Selected' + selected_id + ' but found ' + schedule_block.scheduleID)
        }

        if (schedule_block === null) 
        {
          console.error('did not find schedule block requested in queried results')
          return false
        }


        console.log('Found desired schedule; updating instruction fields...')
        //update the form fields
        for (let i = 0; i < schedule_block.instructions.length; i++)
        {
          let instr = schedule_block.instructions[i]
          //- console.log(instr)
          let seconds_field = document.getElementById('secondsLabel_'+i)
          let function_field = document.getElementById("instructionSelectorLabel_"+i)
          let parameter_field = document.getElementById("parameterLabel_"+i)

          seconds_field.value = instr.seconds 
          function_field.value = instr.instruction //let's assume this is actually a valid option; else we would need to search the options...
          parameter_field.value = instr.parameter


        }

      } catch (error) 
      {
        console.error(error)
        window.alert("Failed to update schedule interface with schedule from device with DevEUI '" + device + "' and hour " + hour) //this could mean several things. Would be nice if this was informative. Could be a mismatch between 
        return false
      }
      return true
    }  


  script(type='text/javascript').
    //- select the device(s) to program
    let d_selector = document.getElementById("deviceSelectorLabel")
    function device_selector()    {
      selected_devices = []
      for (let option of d_selector.options) {
        if (option.selected) selected_devices.push(option.value)
      }
      console.log('Selected devices: ' + JSON.stringify(selected_devices))
    }
    d_selector.onchange = device_selector // attach an event handler

  script(type='text/javascript').
    //- select the hour(s) to program
    let h_selector = document.getElementById("hourSelectorLabel")
    function hour_selector()    {
      selected_hours = []
      for (var option of h_selector.options) {
        if (option.selected && option.value == 'All')
        {
          // If we selected all, then popuate the array 
          selected_hours = Array.from(Array(24).keys())
          break
        }
        if (option.selected) 
        {
          selected_hours.push(Number(option.value))
        }
      }
    }
    h_selector.onchange = hour_selector

  script(type='text/javascript').
    //- select the schedule identifier to program/update
    let id_selector = document.getElementById("scheduleIdSelectorLabel")
    function id_selector_func()    {
      selected_id = 'A'
      for (var option of id_selector.options) {
        if (option.selected) selected_id = option.value
      }
    }
    id_selector.onchange = id_selector_func
   

  script(type='text/javascript').
    //- attach a GET command for the buttons to query the schedules for each device and hour (M*N queries for M devices, N hours selected)
    let read_button = document.getElementById('readScheduleBtn')

    function readClickHandler()
    {
      console.log('Prepare schedule query')
      console.log('devices to query for: ' + JSON.stringify(selected_devices))
      console.log('hours to query for: ' + JSON.stringify(selected_hours))
      console.log('Schedule ID to query for: ' + selected_id)
      readScheduleOnClick(selected_devices, selected_hours, selected_id)
    }
    function readScheduleOnClick(devices, hours, scheduleID)
    {
      if (devices.length == 0)
      {
        window.alert('No devices selected to read schedules from')
        return
      }
      if (hours.length == 0)
      {
        window.alert('No hours selected to read schedules for')
        return
      }
      let url = 'http://' + location.hostname + ':' + location.port + '/devices/readSchedule'
      let content_type = 'application/json'
      let data = {devices:devices, hours:hours, scheduleID:scheduleID} //data will be encoded into the URL for GET
      //-  contentType:content_type, data:data, type:'GET', 

      //- url = '/devices/readSchedule'

      $.ajax({url:url,
        data: data,
        type: 'GET',        
        contentType: "application/json",
        dataType: 'JSON',
        crossDomain: true,
        success: function(data, status, xhttp) {
          console.log("Successfully queried device schedules. Response Data: ")
          console.log(data)
          schedules_read_from_server = data
          populateScheduleDeviceSelector()
          populateScheduleHourSelector()
          update_schedule_forms()
          //- console.log(status)
          //- console.log(xhttp)
        },
        error: function(error) {
          console.error(error)
          window.alert('Failed to read device schedules; check console')
        }})
    } 
    read_button.onclick = readClickHandler
    //- TODO: add a spinner until this request completes

  script(type='text/javascript').
    //- attach a handler to the write-schedule button to write what's currently in the instruction forms into a schedule block for each selected device and hour. This does not update the pending schedule. There is a sequence number for versioning schedules, and the API will automatically select a new one for each device
    let write_schedule_button = document.getElementById('writeScheduleBtn')

    function writeScheduleClickHandler()
    {
      //read all the parameters and create a baseline schedule block
      instructions = [] // format is list of instructions as objects {seconds:int, instruction:string, parameter:int}
      for (let i = 0; i < 11; i++)
      {
        let seconds = document.getElementById('secondsLabel_'+i).value
        let instr = document.getElementById("instructionSelectorLabel_"+i).value
        let parameter = document.getElementById('parameterLabel_'+i).value
        instructions.push({seconds:seconds, instruction:instr, parameter:parameter})
      }
      console.log('Instructions to write: ' + JSON.stringify(instructions))
      //
      let hours = selected_hours
      let devices = selected_devices
      let schedule_id = selected_id    
      let sequence_number = undefined //This should actually be filled in by the API. Seems unnecessary to expose schedule versioning here.

      // this will automaticaly fill in some of the parameters (like appkey and device profile) based on a configuration file within the API
      writeSchedulesOnClick(devices, hours, schedule_id, instructions, sequence_number)
    }
    function writeSchedulesOnClick(devices, hours, scheduleID, instructions, sequence_number)
    {
      console.log('Attempt to write schedules')
      let url = 'http://' + location.hostname + ':' + location.port + '/devices/writeSchedule'
      let content_type = 'application/json'
      let data = {devices: devices, hours:hours, scheduleID:scheduleID, instructions:instructions, sequence_number:sequence_number}
      data = JSON.stringify(data) //must stringify the json before sending. 

      $.ajax({url:url,
        data: data,
        type: 'POST',        
        contentType: "application/json",
        //- dataType: 'JSON',
        crossDomain: true,
        success: function(data, status, xhttp) {
          console.log('Succes response for schedule write. Response data: ')
          console.log(data)
          if (data === true) window.alert("Schedules successfully written for all devices and hours selected!")
          else {
            window.alert('Failed to properly write schedules.')
          }
        },
        error: function(error) {
          console.error(error)
        }})
    } 
    write_schedule_button.onclick = writeScheduleClickHandler
    //- TODO: add a spinner until this request completes


  script(type='text/javascript').
    //- attach a POST command to the update-pending-schedule button to tell the database which schedule ID it should be servicing for the EnviSenses
    let pending_schedule_button = document.getElementById('updatePendingBtn')

    function updatePendingClickHandler()
    {

      let devices = selected_devices
      let schedule_id = selected_id    
      
      // this will automaticaly fill in some of the parameters (like appkey and device profile) based on a configuration file within the API
      updatePendingOnClick(devices, schedule_id)
    }
    function updatePendingOnClick(devices, scheduleID)
    {
      console.log('Update pending device schedule to ' + scheduleID + ' for devices ' + JSON.stringify(devices))
      let url = 'http://' + location.hostname + ':' + location.port + '/devices/updatePending'
      let content_type = 'application/json'
      let data = {devices: devices, scheduleID:scheduleID}
      data = JSON.stringify(data) //must stringify the json before sending. 

      $.ajax({url:url,
        data: data,
        type: 'POST',        
        contentType: "application/json",
        //- dataType: 'JSON',
        crossDomain: true,
        success: function(data, status, xhttp) {
          console.log('Success response for update-pending-schedule. Response data: ')
          console.log(data)
          if (data === true) window.alert("Pending schedule successfully updated for all devices to schedule '" + scheduleID + "'!")
          else {
            window.alert('Failed to properly update pending schedules.\nReturned: "' + data + '"')
          }
        },
        error: function(error) {
          console.error(error)
        }})
    } 
    pending_schedule_button.onclick = updatePendingClickHandler
    //- TODO: add a spinner until this request completes

  script(type='text/javascript').
    //- when a read-schedule query returns, we need to repopulate the selection list for which instructions to show in the form fields
    let show_schedule_selector_device = document.getElementById('showScheduleSelectorDeviceLabel')
    let show_schedule_selector_hour = document.getElementById('showScheduleSelectorHourLabel')

    //- clear out all the options in the selector; we'll start from scratch each time a query completes
    function clearSelectorOptions(selector)
    {

      while (selector.options.length > 0)
      {
        let opt = selector.options[0]
        selector.removeChild(opt)
      }

    }

    function populateScheduleDeviceSelector()
    {
      let d_selector = document.getElementById("deviceSelectorLabel")
      
      //clear the existing elements
      clearSelectorOptions(show_schedule_selector_device)

      // For each device that would have a schedule queried for it, add that entry to this selector (NB: if a query failed for that device, it's still included here).
      for (let option of d_selector.options)
      {
        if (option.selected) 
        {
          let new_opt = document.createElement('option')
          new_opt.text = option.text

          new_opt.value = option.value
          show_schedule_selector_device.appendChild(new_opt)
        }
      }
      show_schedule_selector_device.options[0].selected = true //by default, use the first one

    }

    function populateScheduleHourSelector()
    {
      let h_selector = document.getElementById("hourSelectorLabel")

      //clear the existing elements
      clearSelectorOptions(show_schedule_selector_hour)
      
      for (let option of h_selector.options)
      {
        if (option.selected) 
        {
          let new_opt = document.createElement('option')
          if (option.value === 'All')
          {
            clearSelectorOptions(show_schedule_selector_hour)
            all_hours = Array.from(Array(24).keys())
            //- console.log('Create options for all 24 hours')
            for (hour of all_hours)
            {
              hour = Number(hour)
              new_opt = document.createElement('option')
              new_opt.text = String(hour)
              new_opt.value = hour
              show_schedule_selector_hour.appendChild(new_opt)
            }
            break //no more to populate here. We don't want duplicates
          }
          new_opt.text = option.text
          //- console.log('Create option for hour ' + new_opt.text)

          new_opt.value = option.value
          show_schedule_selector_hour.appendChild(new_opt)
        }
      }
      show_schedule_selector_hour.options[0].selected = true

    }
    //attach the event handlers
    show_schedule_selector_device.onchange = update_schedule_forms
    show_schedule_selector_hour.onchange = update_schedule_forms
      

  script(type='text/javascript').
    //- attach a POST command for the buttons to create a new device
    let create_device_button = document.getElementById('createDeviceBtn')

    function createDeviceClickHandler()
    {

      let device_eui = document.getElementById('newDevEUILabel').value
      let device_name = document.getElementById('newDeviceNameLabel').value
      let is_sdi12 = document.getElementById('sdi12_checkbox').checked      

      // this will automaticaly fill in some of the parameters (like appkey and device profile) based on a configuration file within the API
      createDeviceOnClick(device_eui, device_name, is_sdi12)
    }
    function createDeviceOnClick(devEUI, deviceName, isSdi12)
    {
      let url = 'http://' + location.hostname + ':' + location.port + '/devices/createDevice'
      let content_type = 'application/json'
      let data = {devEUI:devEUI, deviceName:deviceName, isSdi12:isSdi12}
      data = JSON.stringify(data) //must stringify the json before sending. 
      
      //- console.log(data)


      $.ajax({url:url,
        data: data,
        type: 'POST',        
        contentType: "application/json",
        //- dataType: 'JSON',
        crossDomain: true,
        success: function(data, status, xhttp) {
          console.log("Success response for create-device (does not mean total success). Response data: ")
          console.log(data)
          if (data.scheduleD === true) window.alert('Successfully created device ' + devEUI)
        },
        error: function(error) {
          console.error(error)
        }})
    } 
    create_device_button.onclick = createDeviceClickHandler
    //- TODO: add a spinner until this request completes

