body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type='number'] {
    width: 50 px;
}



/* .tooltip::before {
  background-color: white;
  border: 1px solid #888;
  border-radius: 2px;
  color: #444;
  content: attr(data-title);
  display: none;
  font-family: sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 1;
}
.tooltip:hover::before {
  display: block;
} */

.tooltip {
  position:absolute;
  /* background: url('http://iconsdb.com/icons/preview/orange/question-mark-xl.png') no-repeat; */
  background: url('../images/question-mark-16.png') no-repeat;
  height:18px;
  width:18px;
  /* cursor:pointer; */
  align-self: center;
  border: 1px solid #888;
  padding: 5px;
  display: inline-block;
  border-radius: 50%
}
.tooltip::after {


  background-color: white;
  border: 1px solid #888;
  border-radius: 2px;
  color: #444;
  content: attr(data-title);
  display: none;
  font-family: sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  width: 250px;
  position:relative;
  top: 20px;
  right: 125px;
  z-index: 1;
}
.tooltip:hover::after {
  display: block;
  text-align: left;
  overflow: hidden;
}
